body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .hem {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  

  
  .nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .main {
    flex: 1;
    padding: 1rem;
    margin-top: 100px;
    margin-bottom: 0px;
  }
  
 
  /* Responsive styles */
  @media (max-width: 768px) {
    .nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    .nav a {
      padding: 0.5rem 0;
    }
  
    .header{
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    .nav a {
      display: block;
      padding: 0.5rem 0;
    }
  
  
  }

  .grid-container {
display: flex; /* Use flexbox to align items in the same line */
  justify-content: center; /* Center items horizontally */
  align-items: center; 
  }
  
  .grid-item {
    margin: 0 10px;  
}
  